@charset "UTF-8";

/* 回答はここに書いてね */
.main{
  margin: auto;
  width: 940px;
  height: auto;
}

.top{
  margin-bottom: 0px;
  padding: 20px 20px 0px 20px;
  width: 940px;
  height: auto;
  background-color: #eff3f4;
  float: left;
}

.top__image{
  width: 200px;
  height: 133px;
  margin-right: 20px;
  margin-bottom: 10px;
  float: left;
}

.top__text{
  font-size: 18px;
  line-height: 22px;
  float: left
}

.bottom{
  margin-top: 0px;
  padding: 0px 20px 20px 20px;
  width: 940px;
  height: auto;
  background-color: #eff3f4;
  float: left;
}

.bottom__image{
  width: 200px;
  height: 133px;
  margin-left: 20px;
  margin-bottom: 10px;
  float: right;
}

.bottom__text{
  font-size: 18px;
  line-height: 22px;
  float: left
}
/* 回答はここに書いてね */
